@page
@model PortalSaudeConnect.Areas.ClinicaOrigem.Pages.IndexModel
@{
    Layout = "_Layout";
}

<h2>Painel da Clínica de Origem</h2>
<p>Aqui serão gerados e gerenciados os encaminhamentos e prontuários.</p>