@page "/clinicadestino/index"
@model PortalSaudeConnect.Areas.ClinicaDestino.Pages.IndexModel
@{
    Layout = "_Layout";
}

<h2>Painel da Clínica de Destino</h2>
<p>Esta área permite visualizar encaminhamentos e registrar procedimentos realizados.</p>

